<!-- <p id="notice"><%= notice %></p> -->

<nav id="nav" class="non_home">
  <ul>
    <li><a href="">ApplesToo</a></li>
  </ul>
</nav>
<div id="game_body">
  <div id="game_board">
    <ul id="scoreboard">
    <!--   <h3>Scoreboard</h3>
      <li>player:  0</li>
      <li>player:  3</li> -->
    </ul>
  </div>
  <div id="countdown"></div>
  <div id="round_card">
    <div id="green_card">
      <% round_card = GreenCard.find(@game.green_card_id) %>
      <h3> <%= round_card.adjective %> </h3>
      <%=image_tag("green_apple4.png", size: "180x180", alt: "Green Apple", class: "green_apple")%>
      <p> <%= round_card.description  %> </p>
    </div>
  </div>
  <div id="player_body">
    <ul id="red_cards">
      <% 1.upto(8) do %>
      <% current_card = get_random_red %>
      <li class="player_hand" id='redcard_<%= current_card.id %>'>
        <div class="red_clickable">
        <h3><%= current_card.noun %></h3>
        <%=image_tag("red_apple4.png", size: "80x80", alt: "Red Apple", class: "red_apple")%>
        <p><%= current_card.description %></p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

