

<nav id="nav">
  <ul>
    <li><a href="">ApplesToo</a></li>
  </ul>
</nav>


<div id="devise_body">
  <div class="devise">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <!-- <h3 id="devise">Login</h3> -->
      <%= devise_error_messages! %>

      <%= f.email_field :email, :placeholder => "Email", :autofocus => true %>



      <%= f.password_field :password, :placeholder => "Password"%>


      <div><%= f.submit "Login", :class => 'submit' %></div>
    <% end %>
  </div>
</div>


